.hidden{
  visibility: hidden;
}
.varible{
  visibility: visible;
}
.d-none{
  display: none;
}
.d-block{
  display: block;
}
.d-flex{
  display: flex;
}
.f-centered{
  justify-content: center;
  align-items: center;
}
.f-around{
  justify-content: space-around;
}
.f-between{
  justify-content: space-between;
}